[submodule "third_party/guacamol"]
	path = third_party/guacamol
	url = https://github.com/renzph/guacamol.git
[submodule "third_party/FCD"]
	path = third_party/FCD
	url = https://github.com/bioinf-jku/FCD
